.padding-y-5 {
  padding-top:5em;
  padding-bottom: 5em;
}

.padding-x-3 {
  padding-left: 3em;
  padding-right: 3em;
}

.padding-y-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.full-width{
  width:100%;
}